<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Event on:</strong>
  <%= @event.event_on %>
</p>

<p>
  <strong>Event Type:</strong>
  <%= @event.type %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<div class="col-md-12">
  <%= link_to "New Comments", new_event_comment_path(@event), class: "btn btn-primary" %>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Created By</th>
      <th>Created On</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <% if @event.comments.count > 0 %>
    <% @event.comments.each do |comment| %>
      <tr>
        <td><%= comment.name %></td>
        <td><%= comment.created_by %></td>
        <td><%= time_ago_in_words comment.created_at %> ago</td>
        <td><%= link_to "Edit", edit_event_comment_path(@event, comment), class:"btn btn-default" %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="2">No comments found for this events.  Click the 'New comments' button to create a new comment.</td>
    </tr>
  <% end %>
</table>
